### Example kuberos cli config file
### Default path: ~/.kuberos/config

current-context: ctx-01
contexts:
  - name: ctx-01
    user: kuberos-admin
    server: http://<ip-address-1>:<port>
    token: db06ee6ad2d10f022ece229ce4bfbc67c90e9d10f0226d52dd71f815aeca244233c3f5f00

  - name: ctx-02
    user: test-user
    server: http://<ip-address-2>:<port>
    token: a16502cde297591fa6f7d10f022cb31c5109295538b3c8001e6b5074cf7e745702d4f55a4
